@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Michroma&family=Bebas+Neue');

:root {
  --primary: #efefd0;
  --secondary: #004e89;
  --accent: #1a659e;

  --brown: #593E32;
  --light-brown: #BB7A4C;
  --white: #F4F4F4;

  --buff: #CE976Cff;
--coffee: #704F35ff;
--smoky-black: #0B0906ff;
--coffee-2: #664732ff;
--pale-dogwood: #EBC8BAff;

  --section-gap: 160px;
}

body{
  margin:0;
}